{% extends 'app/base.html' %}
{% block title %}Restaurant List{% endblock %}
{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="card col-md-4 shadow-lg mx-2">
      <div class="card-body">
        <h3 class="text-center text-ligth bg-secondary p-2 border rounded">Add Restaurant</h3>
        {{q.as_p}}
      </div>
    </div>
    <div class="card col-md shadow-lg mx-2">
      <div class="card-body">
        <h3 class="text-center text-primary bg-dark p-2 border rounded">List of Restaurant</h3>
      </div>
    </div>
  </div>
</div>
{% endblock %}