{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Display Info</title>
</head>
<body background="{% static 'images/bg.jpg' %}" style="background-repeat: no-repeat;background-attachment: fixed;">
	<h2>Hi {{username}}</h2>
	<table border="1">
		<tr>
			<thead>
				<th>Username</th>
				<th>Rollno</th>
				<th>Email ID</th>
			</thead>
		</tr>
		<tr>
			<tbody>
				<td>{{username}}</td>
				<td>{{rno}}</td>
				<td>{{emailID}}</td>
			</tbody>
		</tr>
	</table>
</body>
</html>